ul
    margin: 0px
    padding: 0px

.menu-geral
    border-top: 2px solid blue
    border-right: 2px solid blue
    border-bottom: 2px solid blue
    width: 15%
    height: 100vh
    background: $bg-color-menu
    position: static
